{% extends "base.html" %}

{% block content %}
<!-- Jumbotron -->
<div class="jumbotron">
    <h1 class="display-4">Welcome to Pill Buddy!</h1>
    <p class="lead">Pill box for the modern era.</p>
    <p>Do you know someone that has trouble taking medication?</p>
    <p class="lead">
        <a class="btn btn-outline-dark btn-lg" href="{% url 'learn' %}" role="button">Learn more</a>
    </p>
</div>
<!-- End Jumbotron -->

<!-- Pill Buddy Info -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h2>Recieve reminders to take your medication.</h2>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Corrupti repudiandae ipsa voluptate facilis, quod vel,
                 perspiciatis, voluptatum odio exercitationem aut nobis 
                 numquam magni tempora id ex omnis. Alias, sint eos.</p>
        </div>
        <div class="col-sm">
            <h2>Have a caretaker schedule your medicine in advance.</h2>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Corrupti repudiandae ipsa voluptate facilis, quod vel,
                     perspiciatis, voluptatum odio exercitationem aut nobis 
                     numquam magni tempora id ex omnis. Alias, sint eos.</p>
        </div>
        <div class="col-sm">
            <h2>Track if your patient has taken their medication.</h2>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Corrupti repudiandae ipsa voluptate facilis, quod vel,
                     perspiciatis, voluptatum odio exercitationem aut nobis 
                     numquam magni tempora id ex omnis. Alias, sint eos.</p>
        </div>
    </div>
</div>
<!-- End Pill buddy info-->
{% endblock %}