{% extends "base.html" %}

{% block content %}
<!-- Jumbotron -->
<div class="jumbotron">
    <h1 class="display-4">Welcome to Pill Buddy!</h1>
    <p class="lead">Pill box for the modern era.</p>
</div>
<!-- End Jumbotron -->

<!-- Pill Buddy Info -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h2>Recieve reminders to take your medication.</h2>

        </div>
        <div class="col-sm">
            <h2>Have a caretaker schedule your medicine in advance.</h2>
        </div>
        <div class="col-sm">
            <h2>Keep track of how much medicine you've taken.</h2>
        </div>
    </div>
</div>
<!-- End Pill buddy info-->
{% endblock %}