{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Scheduled Pills</h1>
  <p>A list of all scheduled pill dispenses.</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Drug</th>
        <th scope="col">Frequency</th>
        <th scope="col">Next Dispense</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for schedule in schedule_list %}
      <tr>
        <th scope="row">{{ schedule.drug }}</th>
        <td>{{ schedule.frequency }}</td>
        <td>{{ schedule.next_dispense }}</td>
        <td>{{ schedule.amount }}</td>
      </tr>
      {% endfor %}
    </tbody>
</div>

{% endblock %}