{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<!-- Login Form -->
<form class="text-center form-signin">
    {% load static %}
    <p class="m3"></p>
    {% if next %}
        {% if user.is_authenticated %}
        <div class="alert alert-warning">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</div>
        {% else %}
        <div class="alert alert-warning">Please login to see this page.</div>
        {% endif %}
    {% endif %}
    <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="90" height="120">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    {% if form.errors %}
    <div class="alert alert-warning">
        Your username and password didn't match. Please try again.
    </div>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %} {% load widget_tweaks %}
        <div class="form-group">
            {{ form.username.label_tag }} {{ form.username|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }} {{ form.password|add_class:"form-control" }}
        </div>
        
        <button type="submit" class="btn btn-lg btn-outline-dark btn-block">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p class="m3"></p>
    <a href="forgot_pwd.html" class="btn btn-outline-dark">Forgot Password?</a>
    <p class="mt-5 mb-3 text-muted"><a class="nav-link" href="https://mhacks.org">MHacks 2018</a></p>
</form>
<!-- End Login Form -->

{% endblock %}