{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="text-center form-signin">
    {% if form.email.errors %}
    <div class="alert alert-warning">
        {{ form.email.errors }}
    </div>
    {% endif %}
    <form method="post" action="">
        {% csrf_token %} {% load widget_tweaks %}
        <div class="form-group">
            {{ form.email.label_tag }} {{ form.email|add_class:"form-control" }}
        </div>

        <button type="submit" class="btn btn-lg btn-outline-dark btn-block">Reset Password</button>
    </form>
</div>

{% endblock %}