body {
    background-color: white;
}

h2 {
    font-size: 1.2em;
}

.bg-djg{
    background-color: #092327;
}


.jumbotron {
    background-image: url("../img/medicine.jpg");
    background-size: cover;
}

.description {
    font-size: .8em;
}
